.Dictionary-header {
  background-image: url("https://secure.img1-fg.wfcdn.com/im/66479566/resize-h755-w755%5Ecompr-r85/1347/134753628/Peel+%26+Stick+Chevron+Wallpaper.jpg");
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
  max-width: 100%;
  padding: 20px 40px;
}
.Dictionary-header input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 4px 8px;
  width: 50%;
}
.Dictionary-header .hint {
  background-color: #4b5e6983;
  color: #e9e9e9;
  font-size: 12px;
  padding-top: 5px;
  width: 35%;
}
