.img-fluid {
  width: 100%;
}
.row {
  background-color: #4b5e69cb;
  border: 1px solid #c5cbcd;
  border-radius: 5px;

  margin-top: 30px;
  padding: 20px 10px;
}
.Photos a {
  display: inline-block;
  transition: 180ms ease-in-out;
}
.Photos a:hover {
  opacity: 0.5;
}
