.Result h2,
.Results h4 {
  font-weight: bolder;
}
.Results h4 {
  letter-spacing: 1px;
}
.Synonyms {
  font-style: italic;
}
.Results hr {
  background-color: rgba(128, 128, 128, 0.151);
  padding: 1px;
}
