.Results-header {
  background-color: #4b5e69cb;
  border: 1px solid #c5cbcd;
  border-radius: 5px;
  margin-top: 15px;
  padding-bottom: 6px;
  padding-top: 37px;
}
.Results-header h2 {
  color: #fff;
  font-size: 38px;
  font-weight: bolder;
  line-height: 25px;
  padding-left: 10px;
}
.Results-header h4 {
  color: #ffffffd2;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-left: 10px;
}
.Synonyms {
  font-style: italic;
}
.Results hr {
  background-color: rgba(156, 154, 154, 0.151);
  padding: 1px;
}
.Results section {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px 20px;
}
